<h1>amazon 最高値/最安値アイテム検索　トップページ</h1>
<p>Find me in app/views/handls/new.html.erb</p>

<%= form_for Handl.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%# f.label :content %>
  <%# f.text_area :content %>
  <%= f.submit %>
<% end %>
